/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

mark {
    background-color: transparent;
    color: inherit;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/********************** Basic ***********************/

@-ms-viewport {
    width: device-width;
}

@media screen and (max-width: 480px) {
    html,
    body {
        min-width: 320px;
    }
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: #ffffff;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/*********************** Type ***********************/

body,
input,
select,
textarea {
    color: #8b8f94;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 22pt;
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 1.65;
}

@media screen and (max-width: 1680px) {
    body,
    input,
    select,
    textarea {
        font-size: 15pt;
    }
}

@media screen and (max-width: 1280px) {
    body,
    input,
    select,
    textarea {
        font-size: 14pt;
    }
}

@media screen and (max-width: 736px) {
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
}

a {
    -webkit-transition: color 0.2s ease-in-out,
        border-bottom-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    color: #6ec27e;
    border-bottom: dotted 1px;
    text-decoration: none;
}

a:hover {
    border-bottom-color: #6ec27e;
    color: #6ec27e !important;
}

strong,
b {
    color: #74797f;
    font-weight: 400;
}

em,
i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #74797f;
    font-weight: 300;
    letter-spacing: -0.025em;
    line-height: 1.4;
    margin: 0 0 0.8em 0;
}

h1 b,
h2 b,
h3 b,
h4 b,
h5 b,
h6 b {
    color: #6ec27e;
    font-weight: 300;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-weight: 900;
    margin: 0 0 1.7em 0;
    text-transform: uppercase;
    font-size: 1em;
}

h1 b {
    font-weight: 900;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

@media screen and (max-width: 980px) {
    h1 br,
    h2 br,
    h3 br,
    h4 br,
    h5 br,
    h6 br {
        display: none;
    }
}

@media screen and (max-width: 736px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 1em 0;
    }

    h2 {
        font-size: 1.5em;
    }
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    border-left: solid 4px #e6e8eb;
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

code {
    border-radius: 4px;
    border: solid 2px #e6e8eb;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
}

hr {
    border: 0;
    border-bottom: solid 2px #e6e8eb;
    margin: 2.5em 0;
}

hr.major {
    margin: 3.5em 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/*********************** Form ***********************/

form {
    margin: 0 0 2em 0;
}

form > :last-child {
    margin-bottom: 0;
}

form > .fields {
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 3em);
    margin: -1.5em 0 2em -1.5em;
}

form > .fields > .field {
    -moz-flex-grow: 0;
    -ms-flex-grow: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 1.5em 0 0 1.5em;
    width: calc(100% - 1.5em);
}

form > .fields > .field.half {
    width: calc(50% - 0.75em);
}

form > .fields > .field.third {
    width: calc(100% / 3 - 0.5em);
}

form > .fields > .field.quarter {
    width: calc(25% - 0.375em);
}

@media screen and (max-width: 480px) {
    form > .fields {
        width: calc(100% + 3em);
        margin: -1.5em 0 2em -1.5em;
    }

    form > .fields > .field {
        padding: 1.5em 0 0 1.5em;
        width: calc(100% - 1.5em);
    }

    form > .fields > .field.half {
        width: calc(100% - 1.5em);
    }

    form > .fields > .field.third {
        width: calc(100% - 1.5em);
    }

    form > .fields > .field.quarter {
        width: calc(100% - 1.5em);
    }
}

label {
    color: #74797f;
    display: block;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 0 0.7em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: none;
    border: solid 2px #e6e8eb;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 0.75em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border-color: #6ec27e;
}

select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23e6e8eb' /%3E%3C/svg%3E");
    background-size: 1.25em;
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) center;
    height: 2.75em;
    padding-right: 2.75em;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

select:focus::-ms-value {
    background-color: transparent;
}

select::-ms-expand {
    display: none;
}

select option {
    color: #74797f;
    background: #ffffff;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 2.75em;
}

textarea {
    padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    text-decoration: none;
    color: #8b8f94;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    border-radius: 4px;
    border: solid 2px #e6e8eb;
    content: "";
    display: inline-block;
    font-size: 0.8em;
    height: 2.0625em;
    left: 0;
    line-height: 2.0625em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.0625em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background: #74797f;
    border-color: #74797f;
    color: #ffffff;
    content: "\f00c";
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    border-color: #6ec27e;
}

input[type="checkbox"] + label:before {
    border-radius: 4px;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: #e6e8eb !important;
    opacity: 1;
}

:-moz-placeholder {
    color: #e6e8eb !important;
    opacity: 1;
}

::-moz-placeholder {
    color: #e6e8eb !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #e6e8eb !important;
    opacity: 1;
}

.polyfill-placeholder {
    color: #e6e8eb !important;
    opacity: 1;
}

/*********************** Icon ***********************/

.icon {
    text-decoration: none;
    border-bottom: none;
    color: inherit;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}

.icon > .label {
    display: none;
}

.icon.solid:before {
    font-weight: 900;
}

.icon.brands:before {
    font-family: "Font Awesome 5 Brands";
}

/*********************** List ***********************/

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px #e6e8eb;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

dl {
    margin: 0 0 2em 0;
}

dl dt {
    display: block;
    font-weight: 400;
    margin: 0 0 1em 0;
}

dl dd {
    margin-left: 2em;
}

/*********************** Actions ***********************/

ul.actions {
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
}

ul.actions li {
    padding: 0 0 0 1em;
    vertical-align: middle;
}

ul.actions.special {
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-left: 0;
}

ul.actions.special li:first-child {
    padding-left: 0;
}

ul.actions.stacked {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 0;
}

ul.actions.stacked li {
    padding: 1.3em 0 0 0;
}

ul.actions.stacked li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    width: calc(100% + 1em);
}

ul.actions.fit li {
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 100%;
}

ul.actions.fit li > * {
    width: 100%;
}

ul.actions.fit.stacked {
    width: 100%;
}

@media screen and (max-width: 480px) {
    ul.actions:not(.fixed) {
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        margin-left: 0;
        width: 100% !important;
    }

    ul.actions:not(.fixed) li {
        -moz-flex-grow: 1;
        -ms-flex-grow: 1;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        padding: 1em 0 0 0;
        text-align: center;
        width: 100%;
    }

    ul.actions:not(.fixed) li > * {
        width: 100%;
    }

    ul.actions:not(.fixed) li:first-child {
        padding-top: 0;
    }

    ul.actions:not(.fixed) li input[type="submit"],
    ul.actions:not(.fixed) li input[type="reset"],
    ul.actions:not(.fixed) li input[type="button"],
    ul.actions:not(.fixed) li button,
    ul.actions:not(.fixed) li .button {
        width: 100%;
    }

    ul.actions:not(.fixed) li input[type="submit"].icon:before,
    ul.actions:not(.fixed) li input[type="reset"].icon:before,
    ul.actions:not(.fixed) li input[type="button"].icon:before,
    ul.actions:not(.fixed) li button.icon:before,
    ul.actions:not(.fixed) li .button.icon:before {
        margin-left: -0.5em;
    }
}

/*********************** Icons ***********************/

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 1em;
}

@media screen and (max-width: 736px) {
    ul.icons li .icon:before {
        font-size: 1.25em;
    }
}

/*********************** Table ***********************/

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

table tbody tr {
    border: solid 1px #e6e8eb;
    border-left: 0;
    border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
    background-color: rgba(144, 144, 144, 0.075);
}

table td {
    padding: 0.75em 0.75em;
}

table th {
    color: #74797f;
    font-size: 0.9em;
    font-weight: 400;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}

table thead {
    border-bottom: solid 2px #e6e8eb;
}

table tfoot {
    border-top: solid 2px #e6e8eb;
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: solid 1px #e6e8eb;
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}

/*********************** Button ***********************/

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-transition: background-color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
        -webkit-box-shadow 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
        color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
        color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    -webkit-box-shadow: inset 0 0 0 2px #e6e8eb;
    box-shadow: inset 0 0 0 2px #e6e8eb;
    color: white !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
    padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
    margin-right: 0.5em;
    font-size: 0.85em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
    font-size: 0.8em;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    -webkit-box-shadow: inset 0 0 0 2px #6ec27e;
    box-shadow: inset 0 0 0 2px #6ec27e;
}

input[type="submit"]:hover:active,
input[type="reset"]:hover:active,
input[type="button"]:hover:active,
button:hover:active,
.button:hover:active {
    background-color: rgba(110, 194, 126, 0.1);
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
    background-color: #49673d;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ffffff !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
    background-color: #80ca8e;
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
    background-color: #5cba6e;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    opacity: 0.25;
}

input[type="submit"].disabled:hover,
input[type="submit"]:disabled:hover,
input[type="reset"].disabled:hover,
input[type="reset"]:disabled:hover,
input[type="button"].disabled:hover,
input[type="button"]:disabled:hover,
button.disabled:hover,
button:disabled:hover,
.button.disabled:hover,
.button:disabled:hover {
    background-color: #49673d;
    cursor: default;
}

@media screen and (max-width: 480px) {
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        padding: 0;
    }
}

/*********************** Page Wrapper ***********************/

#page-wrapper {
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    -moz-align-items: -moz-stretch;
    -ms-align-items: -ms-stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 100vh;
}

body.is-ie #page-wrapper {
    height: 100vh;
}

@media screen and (max-width: 980px) {
    body.is-ie #page-wrapper {
        height: auto;
    }
}

@media screen and (orientation: portrait) {
    #page-wrapper {
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
        height: auto !important;
        min-height: 0 !important;
    }
}

/*********************** Wrapper ***********************/

#wrapper {
    padding: 4.5em 4.5em 2.5em 4.5em;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 65vw;
	height: 100vh;
    overflow: auto; 
}

#wrapper:before {
    content: "";
}

#wrapper .inner {
    max-width: 30em;
}

#wrapper footer {
    color: #aaa;
}

#wrapper footer ul {
    margin: 0;
}

#wrapper > * {
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    transition: opacity 1s ease, -webkit-transform 1s ease;
    -o-transition: opacity 1s ease, transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
    -webkit-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1;
}

@media screen and (max-width: 1280px) {
    #wrapper {
        padding: 4.5em 4em 2.5em 4em;
    }
}

@media screen and (max-width: 980px) {
    #wrapper {
        padding: 4em 4em 2em 4em;
    }
}

@media screen and (max-width: 980px) and (orientation: portrait) {
    #wrapper .inner {
        max-width: 28em;
    }
}

@media screen and (max-width: 736px) {
    #wrapper {
        padding: 3em 3em 1em 3em;
        -moz-justify-content: -moz-flex-start;
        -ms-justify-content: -ms-flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    #wrapper footer ul {
        margin: 0 0 2em 0;
    }
}

@media screen and (max-width: 480px) {
    #wrapper {
        padding: 3em 2em 1em 2em;
    }
}

@media screen and (max-width: 360px) {
    #wrapper {
        padding: 2em 1.5em 0.1em 1.5em;
    }
}

@media screen and (orientation: portrait) {
    #wrapper {
        -moz-align-items: center;
        -ms-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    #wrapper ul.actions {
        -moz-justify-content: center;
        -ms-justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
    }

    #wrapper ul.actions li:first-child {
        padding-left: 0;
    }

    #wrapper .inner {
        width: 100%;
    }

    #wrapper footer {
        margin: 0.5em 0 0 0;
    }

    #wrapper footer ul {
        margin: 0 0 2em 0;
    }
}

body.is-preload #wrapper > * {
    -webkit-transform: translateX(0.5em);
    -ms-transform: translateX(0.5em);
    transform: translateX(0.5em);
    opacity: 0;
}

@media screen and (orientation: portrait) {
    body.is-preload #wrapper > * {
        -webkit-transform: translateY(0.5em);
        -ms-transform: translateY(0.5em);
        transform: translateY(0.5em);
    }
}

/*********************** Banner ***********************/

#banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    width: 35vw;
    min-height: 35vh;
    background-image: url(../images/placeholder.jpg);
    background-size: cover;
    background-position: center;
}

#banner > * {
    width: 100%;
}

@media screen and (max-width: 980px) {
    #banner {
        padding: 2.5em 0;
    }
}

@media screen and (max-width: 736px) {
    #banner {
        padding: 3em 0;
        height: 18em;
    }
}

@media screen and (max-width: 736px) and (orientation: portrait) {
    #banner {
        padding: 1.5em 0;
    }
}

@media screen and (orientation: portrait) {
    #banner {
        width: 100%;
    }
}

body.is-preload #banner .inner ul:after {
    opacity: 1;
}

/*********************** Footer ***********************/

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

/*********************** Pomodoro Timer ***********************/

.timer {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
	flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	background-color:rgba(0, 0, 0, 0.3);
	width:100%;
	max-height:500px;
	padding:1rem 0;
}

@media screen and (max-width:780px) {
	.timer {
		max-width: 300px;
	}
}

.timer > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    color: #ffffff;
    width: 60%;
}

.timer button {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.timer button,
.timer h2 {
    color: white;
}

#reset-button {
    background-color: #b73e3e;
}
#reset-button:hover {
    background-color: #ff5858;
}

/*********************** Modal ***********************/
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Above other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
}

.modal-content {
    background-color: #49673d;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction:row-reverse;
    gap:20px;
    color: white;
    margin: 18rem auto 0 auto;
    padding: 2rem 2rem 0.5rem 2rem;
    border-radius: 12px;
    max-width: 400px;
    max-height: 400px;
    opacity: 0.85;
}

.modal-content > * {
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:50px;
}


.modal-close {
    color: white;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
